@charset "UTF-8";

#wrap{
	width:1200px;
	margin:0 auto;
}
.contents > .w-500{
	width:500px;
}
.contents > .input-box-wrap{
	width:100%;
} 
.contents > .post-layout{
	width:800px;
	margin: 0 auto;
}
.contents > .post-layout > .timeline-content{
	padding:12px 0;
}

.image-area{
	width:800px;
}
.content-area{
	max-height: 300px;
}
.coment-tit{
	background-color: #f8f9fa;
}
.bottom-menu{
	padding:20px;
}
.bottom-menu > a > img{
	width:32px;
}
.input-layout > .contents-input{
	height:200px;
}
.img-btn > img{
	width:32px;
}
.input-box{
	width:500px;
	margin:0 auto;
}
header{
	height:60px;
	border-bottom:1px solid #dddddd;
}
footer{
	height:60px;
	border-top:1px solid #dddddd;
}